#falling-blocks .column {
    position: absolute;
    text-align: center;
}

#falling-blocks .block {
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid hsla(200, 50%, 50%, 0.5);
    background-color: hsla(200, 50%, 50%, 0.25);
    box-shadow: 0 5px 10px hsla(200, 50%, 50%, 0.25);
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}